p{

    color:rgb(253, 75, 75));
    text-align: justify;
    font-size: 24px;
}
h1{

    color: rgb(251, 255, 0)251, 255, 0);
    text-align: center;
    font-size: 40px;
    font - style: italic;

    }
body{
    background-color: rgb(253, 253, 253);
}